/* screens smaller than 640---------------------------------------------------------- */
@media only screen and (max-width:640px) {

/*layout*/
/*------------------------------------------------------------------------------*/
.inner {
	width: 94%;
}
.sp {
	display: inherit;
}
.pc {
	display: none;
}
.pc_tb {
	display: none;
}
.tb {
	display: none;
}
.tb_sp {
	display: inherit;
}

/*header*/
/*------------------------------------------------------------------------------*/
#header {
    border-top: 4px solid;
}
#header_in {
	width: 100%;
	padding: 0 3%;
	height: 80px;
}
#header h1 {
	width: 70%;
}

/*globalnav*/
/*------------------------------------------------------------------------------*/
#globalnav {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    background: rgba(0,0,0,0.8);
    padding-top: 100px;
    align-self: flex-start;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.open #globalnav {
    opacity: 1;
    visibility: visible;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}
#globalnav_in {
	width: 100%;
}
#globalnav #nav{
	width: 100%;
	border-top: 1px solid #777;
	flex-direction: column;
	justify-content: flex-start;
}
#globalnav #nav li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #777;
	margin: 0;
	text-align: left;
}
#globalnav #nav li a {
	position: relative;
	color: #FFF;
	padding: 0 6% 0 3%;
	height: 50px;
	display: block;
}
#globalnav #nav li a:after{
	content: '';
	width: 8px;
    height: 8px;
    border-top: solid 2px #FFF;
    border-right: solid 2px #FFF;
    -ms-transform: rotate(45deg) translateY(-50%);
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
	position: absolute;
	top: 50%;
	right: 5%;
}
#globalnav #nav li.contact_btn a:after{
	content: none;
}
#globalnav #nav li.contact_btn {
	height: 70px;
	line-height: 70px;
	max-width: 360px;
	width: 90%;
	margin: 30px auto 0;
	border-bottom: none;
}
#globalnav #nav li.contact_btn a {
	text-align: center;
	height: 70px;
	line-height: 70px;
	border-radius: 5px;
}

/*gnav_btn*/
/*------------------------------------------------------------------------------*/
#gnav_btn {
	display:block;
	position:absolute;
	top: 20px;
	right: 2.5%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
	z-index: 12;
}
#gnav_btn.is-opened {
	border: none;
	position:fixed;
}
#gnav_btn_in {
	position: relative;
	width: 40px;
	height: 40px;
}
#gnav_btn .bar {
	position: absolute;
	background-color: #3E99CE;
	-webkit-transform-origin: center;
	transform-origin: center;
	width: 40px;
	height: 5px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#gnav_btn.is-opened .bar {
	background-color: #FFF;
}
#gnav_btn .bar:nth-child(1) {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}
#gnav_btn.is-opened .bar:nth-child(1) {
	-webkit-animation: btBar1Open 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation: btBar1Open 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@-webkit-keyframes btBar1Open {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@keyframes btBar1Open {
  0% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
#gnav_btn.is-closed .bar:nth-child(1) {
	-webkit-animation: btBar1Close 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation: btBar1Close 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@-webkit-keyframes btBar1Close {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
}
@keyframes btBar1Close {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  40% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
}
#gnav_btn .bar:nth-child(2) {
  opacity: 1;
}
#gnav_btn.is-opened .bar:nth-child(2) {
	-webkit-animation: btBar2Open 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation: btBar2Open 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@-webkit-keyframes btBar2Open {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes btBar2Open {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#gnav_btn.is-closed .bar:nth-child(2) {
	-webkit-animation: btBar2Close 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation: btBar2Close 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@-webkit-keyframes btBar2Close {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes btBar2Close {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#gnav_btn .bar:nth-child(3) {
    -webkit-transform: translateY(250%);
	transform: translateY(250%);
}

#gnav_btn.is-opened .bar:nth-child(3) {
	-webkit-animation: btBar3Open 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation: btBar3Open 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@-webkit-keyframes btBar3Open {
  0% {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes btBar3Open {
  0% {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
#gnav_btn.is-closed .bar:nth-child(3) {
	-webkit-animation: btBar3Close 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
	animation: btBar3Close 600ms cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@-webkit-keyframes btBar3Close {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  40% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

@keyframes btBar3Close {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  40% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
}

/*------------------------ contents ------------------------*/
#contents {
	width: 94%;
}

/*------------------------ main ------------------------*/
#main {
	width: 100%;
	padding: 0;
	margin-bottom: 40px;
	float: none;
}

/*------------------------ side ------------------------*/
#side {
	width: 100%;
	float: none;
}
#side .side_in {
 position: static;
}
#s_menu {
	width: 100%;
}
#s_bnr li {
	text-align: center;
}

/*------------------------ footer ------------------------*/
#footer {
	margin-top: 50px;
}
#footer_in {
	width: 100%;
	padding: 10px 2%;
	text-align: center;
}
#f_logo,
#f_contact,
address {
	flex: auto;
	width: 100%;
	text-align: center;
}
#copyright {
	text-align: center;
}


/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/



/* screens smaller than 520---------------------------------------------------------- */
@media only screen and (max-width:519px) {




/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------*/
/* screens smaller than 420---------------------------------------------------------- */
@media only screen and (max-width:419px) {




/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/
