/* screens smaller than 640---------------------------------------------------------- */
@media only screen and (max-width:640px) {

/*------------------------ 下層ページ共通 ------------------------*/
#page_title_in {
	height: 200px;
}
#page_title h2 {
	margin-left: 5%;
	font-size: 22px;
}



/*------------------------ 業務内容top ------------------------*/
#main h4 {
	padding: 10px 0 5px 80px;
	margin-bottom: 15px;
	min-height: 40px;
	line-height: 1.3;
}
#main h4.no1,
#main h4.no2,
#main h4.no3,
#main h4.no4,
#main h4.no5,
#main h4.no6,
#main h4.no7 {
	background-position: left bottom;
}

ul#workslist li {
 width: 100%;
 margin-bottom: 20px;
}

.work_sub01 li {
	width: 48%;
	margin: 0 auto 20px;
	text-align: center;
}

.work_sub02 li,
.work_sub04 li {
	width: 100%;
	text-align: center;
}
.work_sub01 p,.work_sub02 p {
	text-align: center;
}

.work_sub03 {
	text-align: center;
}
.R_img {
 float: none;
 margin: 0 0 5px;
}
.work_sub03 p {
	text-align: left;
}
.work_sub05 {
	text-align: center;
}
.work_sub05 .img_box,
.work_sub05 .text_box {
	width: 100%;
}
.work_sub06 li {
	width: 100%;
	text-align: center;
}
.work_sub07 .img_box {
	width: 100%;
	margin-bottom: 5px;
	order: 1;
}
.work_sub07 .text_box {
	width: 100%;
	order: 2;
}

/*------------------------ 会社案内 ------------------------*/
table.tableA {
	border-bottom: none;
}
table.tableA th,
table.tableA td {
	padding: 10px;
	border: none;
	display: block;
	width: 100%;
}
table.tableA th {
	font-weight: bold;
}
table.tableA td {
	border-bottom: 1px #ccc solid;
}
table.tableA td dl.unit01 {
 display: block;
}
table.tableA td dl.unit01 dt {
 width: 100%;
}
table.tableA td dl.unit01 dd {
 width: 100%;
}




/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/


/* screens smaller than 520---------------------------------------------------------- */
@media only screen and (max-width:519px) {





/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/


/* screens smaller than 420---------------------------------------------------------- */
@media only screen and (max-width:419px) {




/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/
