/* screens smaller than 640---------------------------------------------------------- */
@media only screen and (max-width:640px) {

#page_title02_in {
	height: 200px;
}
#page_title02 h2 {
	margin-left: 5%;
	font-size: 22px;
}
#contents02 {
	width: 94%;
}
#works_main {
	width: 100%;
	float: none;
	padding: 0;
	margin-bottom: 40px;
}
#contents02 #side {
	width: 100%;
	float: none;
}

/*------------------------ main ------------------------*/
.subtitle03_01 {
	font-size: 22px;
}
.works_list_wrap {
	padding: 30px 2.5% 0;
}
.works_tab li:nth-child(1) {
	background: url(../images/works/tab01.png) no-repeat left top;
	background-size: cover;
	width: 150px;
	height: 36px;
}
.works_tab li.long:nth-child(1) {
	background: url(../images/works/tab03.png) no-repeat left top;
	background-size: cover;
	width: 173px;
}
.works_tab li:nth-child(2) {
	background: url(../images/works/tab02.png) no-repeat left top;
	background-size: cover;
	width: 146px;
	height: 36px;
}
.works_tab li.long:nth-child(2) {
	background: url(../images/works/tab04.png) no-repeat left top;
	background-size: cover;
	width: 173px;
}
.works_tab li a {
	width: 90%;
	height: 36px;
	font-size: 18px;
}
.works_tab li.long a {
	width: 157px;
}
.works_tab li.current a:before {
	content: '';
	width: 90%;
	bottom: 3px;
}
.works_tab li.long.current a:before {
	width: 130px;
}

/*------------------------ パーツ ------------------------*/
.works_unit01 .img_box,
.works_unit04 .img_box {
	width: 100%;
	margin-bottom: 15px;
}
.works_unit01 .text_box,
.works_unit04 .text_box {
	width: 100%;
}
.works_unit01 .text_box dd {
	font-size: 14px;
}
.works_unit02 .w_box {
	width: 100%;
}
.works_unit02 dd {
	font-size: 14px;
}
.works_unit03 li {
	width: 48%;
}

/*------------------------ contact ------------------------*/
p#t-right {
	margin-left:0;
}
.inquiry th {
	text-align:left;
	width:100%;
	display: block;
}
.inquiry td {
	width:100%;
	display: block;
}
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 select  {
	width:100%;
}
.wpcf7 textarea  {
	width:100%;
}


/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/


/* screens smaller than 520---------------------------------------------------------- */
@media only screen and (max-width:519px) {





/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/


/* screens smaller than 420---------------------------------------------------------- */
@media only screen and (max-width:419px) {

/*------------------------ パーツ ------------------------*/
.works_unit01 .img01,
.works_unit01 .img02 {
	width: 100%;
}
.works_unit01 .img01 {
	margin-bottom: 10px;
}



/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/
