@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');
.font01 {
	font-family: 'Noto Serif JP', serif;
}
img {
	max-width: 100%;
	height: auto;
}
.in_bl {
	display: inline-block;
}
#home {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
#fullpage {
    padding-right: 400px;
}
.section-inner {
    position: relative;
    height: 100%;
}
#fp-nav {
	z-index: 2;
}
#sp_btn {
	display: none;
}
.flex_empty {
	height: 0;
	margin-top: 0!important;
	margin-bottom: 0!important;
	padding-top: 0!important;
	padding-bottom: 0!important;
}

/*toptitle*/
/*------------------------------------------------------------------------------*/
.toptitle02 {
	line-height: 1.4;
	font-size: 36px;
	font-weight: bold;
	color: #FFF;
	position: absolute;
	left: 5%;
	top: 15%;
	z-index: 10;
}
.toptitle03_01 {
	line-height: 1.2;
	text-align: center;
	width: 100%;
	max-width: 210px;
}
.toptitle03_01 .main {
	display: block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	color: #3F3432;
	border-bottom: 3px solid #0099CC;
}
.toptitle03_01 .sub {
	font-size: 18px;
	color: #3F99C5;
	display: block;
}
.toptitle03_02 {
	line-height: 1.4;
	margin-bottom: 5px;
	font-size: 20px;
	color: #3F3432;
}
.toptitle03_02 .sub {
	font-size: 18px;
	color: #3F99C5;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
}

/*gmap/movie*/
/*------------------------------------------------------------------------------*/
.gmap {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}
.gmap iframe,
.gmap object,
.gmap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.movie {
	position: relative;
	padding-bottom: 43.47%;
	height: 0;
	overflow: hidden;
}
.movie iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.movie img {
	position: absolute;
	top: 0;
	left: 0;
}
#header .movie img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

/*header*/
/*------------------------------------------------------------------------------*/
#header {
    position: absolute;
    width: 400px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 3;
    padding: 23px 18px 35px 18px;
}
#header h1 {
	text-align: center;
	margin-bottom: 25px;
}
#globalnav {
    padding: 0 26px;
}
#gnav_btn {
	display: none;
}
.gnav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.gnav li {
	width: 49%;
	margin-bottom: 35px;
}
.gnav li a {
	display: block;
	line-height: 1.2;
	text-align: center;
}
.gnav li a .main {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}
.gnav li a .sub {
	display: block;
	font-size: 12px;
	color: #4099C5;
}
#subnav {
	margin-bottom: 18px;
}
#subnav ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#subnav li {
	width: 49%;
	margin-bottom: 10px;
}
#subnav li.last {
	width: 100%;
	margin-bottom: 0;
}
#header #copyright {
	text-align: center;
}
#copyright {
	font-size: 12px;
	color: #828282;
}

/*fullpage-slide1*/
/*------------------------------------------------------------------------------*/
.fullpage-slide1 {
	width: 100%;
	position: relative;
}
.flexslider {
	overflow: hidden;
}
.flexslider .slides > li {
    text-align: center;
}
.flexslider .main_img {
	height: 100vh;
}
#mainimage01 {
	background: url('../images/home/main_img01.jpg') no-repeat center center;
	background-size: cover;
}
#mainimage05 {
	background: url('../images/home/main_img05.jpg') no-repeat center center;
	background-size: cover;
}
#mainimage06 {
	background: url('../images/home/main_img06.jpg') no-repeat center center;
	background-size: cover;
}
#mainimage02 {
	background: url('../images/home/main_img02.jpg') no-repeat center center;
	background-size: cover;
}
#mainimage03 {
	background: url('../images/home/main_img03.jpg') no-repeat center center;
	background-size: cover;
}
#mainimage04 {
	background: url('../images/home/main_img04.jpg') no-repeat center center;
	background-size: cover;
}

#pickup_news {
	width: 91%;
	position: absolute;
	bottom: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 1.2;
	color: #3F3432;
	z-index: 10;
}
#pickup_news dt {
	width: 163px;
	border-radius: 10px 0 0 10px;
	background: #4099C5;
	padding: 8px;
	color: #FFF;
}
#pickup_news dd {
	width: calc(100% - 163px);
	border-radius: 0 10px 10px 0;
	background: rgba(255,255,255,0.8);
	padding: 8px;
}
#pickup_news dd .news_date {
	font-weight: bold;
	display: inline-block;
	margin-right: 5px;
}
#pickup_news dd a {
	color: #3F3432;
}
#pickup_news dd a:before {
	content: '';
	width: 16px;
	height: 16px;
	background: #3F3432;
	display: inline-block;
	margin-right: 5px;
}
#pickup_news dd a:hover {
	text-decoration: underline;
}

/*fullpage-slide2*/
/*------------------------------------------------------------------------------*/
.fullpage-slide2 {
	background-color: rgba(222,242,252,0.61);
	padding: 25px 0;
}
.fullpage-slide2 h3 {
	margin: 0 2.5% 20px;
}
#top_works {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 2%;
}
.top_works_in {
	width: calc(100% / 3 - 0.5rem);
    margin: 0.25rem;
}
.top_works_in.title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_empty {
	height: 0;
	margin-top: 0!important;
	margin-bottom: 0!important;
	padding-top: 0!important;
	padding-bottom: 0!important;
}
.top_works_in dl {
	width: 100%;
	padding: 4px;
	border: 1px solid #E7E7E7;
	background: #FFF;
	position: relative;
}
.top_works_in dl:before,
.top_works_in dl:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.top_works_in dl:after {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
	right: 10px;
	left: auto;
}
.top_works_in dt {
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 10px;
	padding-top: 15px;
	position: relative;
	color: #403532;
	text-align: center;
}
.top_works_in dt:before {
	content: '';
	width: 100%;
	height: 3px;
	background: #FBBA0C;
	position: absolute;
	top: 0;
	left: 0;
}

/*fullpage-slide3*/
/*------------------------------------------------------------------------------*/
.fullpage-slide3 {
	background: url('../images/home/slide3_bg.png') no-repeat;
	background-size: cover;
	padding: 20px 0 0 20px;
}
#top_media {
	height: 100%;
}
#top_media h3 {
	width: 100%;
}
#top_media #copyright {
	display: none;
}
.top_area_in {
	margin-bottom: 25px;
	padding-right: 30px;
	width: 100%;
}
#top_news {
	border-top: 2px solid #0099CC;
	padding-top: 15px;
	font-size: 20px;
	line-height: 1.2;
	width: 100%;
}
#top_news li {
	border-bottom: 1px solid #0099CC;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
#top_news .news_date {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: bold;
}
#top_news a {
	color: #3F3432;
}
#top_news a:before {
	content: '';
	width: 16px;
	height: 16px;
	background: #3F3432;
	display: inline-block;
	margin-right: 5px;
}

/*access*/
/*------------------------------------------------------------------------------*/
#access {
	margin-bottom: 10px;
	padding-right: 30px;
}
#access .map_area {
	width: 100%;
	margin-bottom: 20px;
}
#access .gmap {
	padding-bottom: 27.46%;
}
#access .address {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 25px;
}
#access .address dl {
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	line-height: 1.4;
}
#access .address dt {
	width: 6em;
	color: #4199C5;
	font-size: 20px;
}
#access .address dd {
	width: calc(100% - 7em);
	font-size: 18px;
}
#access .address dd h4 {
	font-size: 22px;
	color: #000;
	margin-bottom: 5px;
	font-weight: bold;
}
#access .tel_link {
	font-size: 31px;
}
#access ul {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
#access li {
	margin: 0 8px 8px;
	display: flex;
	align-items: center
}

@media screen and (min-width: 768px) {
	a[href^="tel:"] {
		pointer-events: none;
	}
}

