/* screens smaller than 1200---------------------------------------------------------- */
@media only screen and (min-width:641px) and (max-width:1199px) {

/*------------------------ 下層ページ共通 ------------------------*/
#page_title h2 {
	margin-left: 9%;
}

/*------------------------ 業務内容top ------------------------*/
#main h4 {
	padding: 10px 0 5px 80px;
	margin-bottom: 15px;
	min-height: 40px;
	line-height: 1.3;
}
#main h4.no1,
#main h4.no2,
#main h4.no3,
#main h4.no4,
#main h4.no5,
#main h4.no6,
#main h4.no7 {
	background-position: left bottom;
}



/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/


/* screens smaller than 1120---------------------------------------------------------- */
@media only screen and (min-width:641px) and (max-width:1119px) {






/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/



/* screens smaller than 880---------------------------------------------------------- */
@media only screen and (min-width:641px) and (max-width:779px) {

/*------------------------ 業務内容top ------------------------*/
ul#workslist li {
 width: 100%;
}


/*------------------------------------------------------------------------------*/
}
/*------------------------------------------------------------------------------*/
